/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #101010;
    color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header
{
    width: 100%;
    height: 60px;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-items
{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 40px;
    box-shadow: 0 8px 5px -5px yellow;
    opacity: 0;
    transition: 0.25s;
}

.nav-item:hover::before
{
    opacity: 1;
}

.nav-item
{
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.nav-item:hover
{
    background-color: #323232;
    transform: scale(1.3);
}

.nav-item a 
{
    display: block;
    color: white;
    text-decoration: none;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.input
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
}

.input h1
{
    font-size: 3em;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.input h2
{
    margin: 10px;
    font-size: 1.5em;
    color: yellow;
}

.input-bar
{
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    margin-top: 20px;
}

.input-text
{
    height: 20px;
    width: 410px;
    padding: 5px 20px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.input-text:focus
{
    outline: none;
}

.search
{
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.1s;
}

.games-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
}

.game-tile-skeleton
{
    width: 310px;
    height: 380px;
    background-color: #212121;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.2s;
    cursor: pointer;
    margin: 10px;
}

.game-tile
{
    width: 310px;
    height: 380px;
    background-color: #212121;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.2s;
    cursor: pointer;
    margin: 10px;
}

@keyframes skeleton
{
    0%{background-color: #212121;}
    100%{background-color: #323232;}
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.game-tile:hover
{
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1);
}

.img-tile
{
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

.img-tile-skeleton
{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    animation: skeleton 1s linear infinite alternate;
}

.title-text
{
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 20px;
    max-width: 300px;
    text-align: center;
}

.title-text-skeleton
{
    width: 280px;
    height: 23px;
    margin-top: 20px;
    animation: skeleton 1s linear infinite alternate;
}

.platform-text
{
    margin-top: 15px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.platform-text-skeleton
{
    width: 170px;
    height: 60px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-skeleton 
{
    width: 170px;
    height: 18px;
    animation: skeleton 1s linear infinite alternate;
}

.stores-skeleton
{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.store
{
    width: 25px;
    padding: 5px;
}

.store-skeleton
{
    margin-top: 5px;
    width: 25px;
    padding: 5px;
    border-radius: 50%;
    animation: skeleton 1s linear infinite alternate;
}

.stores-margin
{
    margin: 10px;
    color: red;
    font-weight: 400;
}

.skeleton 
{
    z-index: 5;
    animation: skeleton 1s linear infinite alternate;
}

select
{
    padding: 10px 50px 10px 10px;
    background-color: #212121;
    color: white;
    border: 0;
    cursor: pointer;
}

select:focus
{
    outline: none;
}

.select-position
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    width: 1300px;
}

.custom-select
{
    position: relative;
}

.custom-arrow
{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #323232;
    height: 100%;
    width: 40px;
    pointer-events: none;
}

.custom-arrow::before
{
    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid white;
}

.arrow-up
{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #323232;
    position: fixed;
    top: 90%;
    right: 6.5%;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
}

.arrow-up::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    border-left: var(--size2) solid transparent;
    border-right: var(--size2) solid transparent;
    border-bottom: var(--size2) solid white;
}

.modal-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
}

.modal-container
{
    width: 1200px;
    height: 800px;
    background-color: #212121;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 15;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.modal-container::-webkit-scrollbar-corner
{
    display: none;
}

.modal-container::-webkit-scrollbar-thumb
{
    background-color: #808080;
}

.modal-container::-webkit-scrollbar-track 
{
    background-color: transparent;
}

.modal-container h3
{
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
}

.gallery-container
{
    width: 1000px;
    padding: 10px 10px 50px 10px;
    position: relative;
}

.main-gallery
{
    width: 980px;
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-gallery img
{
    width: 980px;
    height: 551.25px;
    aspect-ratio: 16 / 9;
}

.choosable-img
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.choose
{
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.choose:hover
{
    opacity: 1;
}

.choose:last-child
{
    margin-right: 10px;
}

.previous-arrow
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #101010;
    opacity: 0.7;
    position: absolute;
    top: 275.5px;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    border: 0;
}

.previous-arrow::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    border-top: var(--size) solid transparent;
    border-right: var(--size) solid white;
    border-bottom: var(--size) solid transparent;
}

.previous-arrow:hover
{
    opacity: 1;
}

.next-arrow
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #101010;
    opacity: 0.7;
    position: absolute;
    top: 275.5px;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    border: 0;
}

.next-arrow::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    border-top: var(--size) solid transparent;
    border-left: var(--size) solid white;
    border-bottom: var(--size) solid transparent;
}

.next-arrow:hover
{
    opacity: 1;
}

.informations
{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tags
{
    width: 250px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.tags h3, .genre h3, .platforms h3, .minimal-age h3
{
    margin-bottom: 30px;
}

.genre 
{
    width: 250px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.platforms 
{
    width: 250px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.minimal-age
{
    width: 250px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.requirements
{
    width: 1000px;
    display: flex;
    margin-top: 20px;
}

.minimal
{
    width: 460px;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.recommend
{
    width: 460px;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.bold
{
    font-weight: 400;
    font-size: 22px;
}

.display
{
    opacity: 1;
    visibility: visible;
}

.visible
{
    visibility: visible;
}

.opacity
{
    opacity: 1;
    border: 1px solid white;
}

:root
{
    --size: 5px;
    --size2: 10px;
    --size3: 10px;
}

::-webkit-scrollbar 
{
    width: 8px;
    padding: 0;
}  

::-webkit-scrollbar-thumb
{
    background-color: #c0c0c0;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #808080;
}

::-webkit-scrollbar-track 
{
    background-color: black;
}

@media screen and (max-width: 1336px)
{
    .select-position
    {
        width: 970px;
    }
}

@media screen and (max-width: 1006px)
{
    .select-position
    {
        width: 640px;
    }
}

@media screen and (max-width: 676px)
{
    .select-position
    {
        width: 300px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px)
{
    .input-bar
    {
        width: 300px;
    }

    .input-text
    {
        width: 220px;
    }

    .input h2
    {
        text-align: center;
        width: 300px;
        margin: 0;
    }

    .nav-items
    {
        width: 300px;
    }

    .nav-item
    {
        width: 90px;
    }

    .nav-item::before
    {
        width: 90px;
    }

    .arrow-up
    {
        top: 91%;
        right: 3%;
    }

    .game-tile
    {
        width: 280px;
    }

    .header
    {
        width: 300px;
    }
    
    .game-tile-skeleton
    {
        width: 280px;
    }

    main 
    {
        margin-bottom: 20px;
    }
}